/* css */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
	width: 816px;
	height: 1056px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

#page {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
}

#content {
  margin: 25px auto;
  background: #f5f4f0;
  width: 95%;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7); 
}
  section {
    width: 100%;
    min-height: 100px;
    position: relative;
    padding: 30px;
    padding-bottom: 0px;
  }

  section.work-experience {
    padding-top: 37px;
  }

h1 {
  font-family: 'Georgia';
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px; }

h2 {
  font-family: 'Georgia';
  font-weight: bold;
  font-size: 25px;
}

h3 {
  font-family: Arial;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
}

h4 {
  font-family: Arial;
  font-size: 16px;
  color: #66696a;
  line-height: 20px;
  margin-bottom: 4px;
}

h5 {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}

li, p {
  font-family: Arial;
  font-size: 16px;
  line-height: 22px;
}

.work-experience li {
  font-family: Arial;
  font-size: 14px;
  line-height: 19px;
}




@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px; }

  h2 {
    font-size: smaller; }

  #content section:nth-child(even):after {
    right: 20px; }

  #content section:nth-child(odd):after {
    right: 20px; }

  #content section:nth-child(even):before {
    left: 20px; }

  #content section:nth-child(odd):before {
    left: 20px; } }


			.clearfix:after {
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}

			h2 {
				border-bottom: 1px #CCC solid;
				margin-bottom: 10px;
				padding-bottom: 10px;
			}

      .skill-summary ul {
        list-style: disc;
      }

      .skill-summary li {
        margin-bottom: 7px;
      }

			.float-left {
				float: left;
			}

			.info-short .col-1 {
				width: 30%;
				margin-right: 12%;
			}

			.info-short .col-2 {
				width: 20%;
				margin-right: 13%;
			}

      .info-short .col-3 {
        width: 25%;
      }

			.contact-info .icon {
        margin-right: 5%;
      }

      .contact-info .info-item {
        margin-bottom: 14px;
      }

      .skill-summary ul li {
        margin-left: 24px;
      }

      .work-experience-item {
        margin-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
      }

      .work-experience p.work-info {
        color: #66696a;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 4px;
      }

      .work-experience ul {
        list-style: disc;
      }

      .work-experience li {
        margin-left: 18px;
        list-style: disc;
        margin-bottom: 3px;
      }

			.education strong {
				font-weight: bold;
			}

      .education-item {
        margin-bottom: 30px;
      }

      .education .edu-title {
        margin-bottom: 14px;
      }

      .education .edu-content {
        margin-left: 21px;
      }

      .edu-content .content-1 {
        margin-bottom: 10px;
      }

      .edu-info {
        color: #66696a;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 4px;
      }

      .edu-research p {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .edu-research h4 {
        text-decoration: underline;
      }

      .education .proj-header {
        margin-bottom: 5px;
        padding-bottom: 5px;
      }